<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SingaporeAquaCars">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- Store Activity -->
        <activity
            android:name=".StoreActivity"
            android:exported="true">
            <!-- No intent-filter needed unless you want this Activity to be an entry point -->
        </activity>

        <service
            android:name=".ReminderService"
            android:exported="false"> <!-- Consider if your service needs to be exported or not -->
        </service>
        <receiver
            android:name=".ReminderBroadcast"
            android:exported="false"> <!-- Receivers targeting API 31+ need the exported flag set explicitly -->
            <!-- If this receiver is meant to receive implicit broadcasts, set exported to true -->
        </receiver>
    </application>

</manifest>